.main__footer {
    display: flex;
    flex-direction: column;
    background-color: $color_violet;
    justify-content: center;
    align-items: center;
    height: 10em;

    &-social {
      display: flex;
      justify-content: space-between;
      width: 20em;
      font-size: 2em;
      padding-bottom: 1em;
    }
    
    &-social a {
      text-decoration: none;
      color: $color_white;
    }
  
    &-social a:hover {
        color: rgb(206, 36, 169);
    }
    
    &-copy {
      color: $color_white;
      font-size: 1.6em;
      opacity: 0.8;
    }
  }
